<mat-card >
    
      <div mat-card-avatar class="example-header-image"></div>
   
          
          <FONT FACE="impact" SIZE=6 COLOR="red">
              DIABLO</FONT>
   
   
    <img mat-card-image src="../../assets/img/demon.jpeg" width="400" height="400" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
            El Diablo Robot es un personaje secundario de la serie Futurama.
      </p>
    </mat-card-content>
    <mat-card-actions>
     
      <button mat-button>Informacion</button>
    </mat-card-actions>
  </mat-card>
  <mat-card >
    
        <div mat-card-avatar class="example-header-image"></div>
        <FONT FACE="impact" SIZE=6 COLOR="red">
            TOY STORY</FONT>
     
     
      <img mat-card-image src="../../assets/img/amigo.jpeg"  width="400" height="400"alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
                Es un vaquero comisario,<BR> el juguete favorito de su dueño Andy Davis y el líder de los juguetes en la habitación de Andy.
        </p>
      </mat-card-content>
      <mat-card-actions>
       
      <button mat-button>Informacion</button>
      </mat-card-actions>
    </mat-card>