<app-encabezado></app-encabezado>
<div class="container">
<router-outlet></router-outlet>

</div>



<mat-toolbar>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div style="position: relative; left: 880px;  "> 
    <h6>PUEDES ENCONTRARNOS TAMBIEN:</h6>
  </div> 
    <br> 


<a href="https://www.facebook.com/suarezlenintattoo/" target="_blank" aria-haspopup="true" data-tooltip="" data-selector="tooltip-jy7lbh1h4" aria-describedby="tooltip-jy7lbh1h4" title="" >
  <div style="position: relative; left: 880px; top: 10px; "> 
  <img src="../../assets/img/facebook.png" width="50" height="50" > </div> 
        </a>
      
<a href="https://instagram.com/suarez_lenin?igshid=761oeu4sjktf" target="_blank" aria-haspopup="true" data-tooltip="" data-selector="tooltip-jy7lbh1h4" aria-describedby="tooltip-jy7lbh1h4" title="">
  <div style="position: relative; left: 900px; top: 10px; ">        
  <img src="../../assets/img/instagram.jpg" width="50" height="50"   > </div>
          </a>
</mat-toolbar>
