<div class="starter-template  ">
        <h1 class="h1XD "> Nuestra Misión</h1>
        <p class="lead">Hacer que el arte corporal sea visto como una de las mejores formas de plasmar <br> lo que las personas piensan y sienten; nuestro compromiso con los clientes y el arte nos permite trabajar con altos estándares de calidad, el servicio busca ir más allá de las expectativas de los mismos; todo esto con el fin de permitirles obtener en su cuerpo una imagen real  de lo que cargan en su imaginación.
        </p>
      <br> <br>
        <h1 class="h1XD ">Nuestra Visión</h1>
        <p class="lead">
            Ser el mejor estudio de tatuajes de la ciudad de Bogotá y uno de los mejores estudios del mundo; <br>dándonos a conocer por medio de nuestra calidad, higiene y técnicas empleadas en la industria;<br> siendo imagen y ejemplo de un excelente servicio al cliente.
            Nuestro Objetivo... 
        </p>
        <p class="lead"> 
        
      
      </div>
    
    
    